In [1]:
import pandas as pd

# --- 0. Simulación del archivo empleados.csv ---
# Se crea un DataFrame de ejemplo para la demostración.
data = {
    'EmpleadoID': range(1, 9),
    'Nombre': ['Ana Gómez', 'Luis Torres', 'Carlos Silva', 'Sofía Luna', 'Eva Marín', 'David Ruiz', 'Sara Nieto', 'Pablo Gil'],
    'Area': ['Ventas', 'IT', 'Marketing', 'Ventas', 'IT', 'Recursos Humanos', 'Marketing', 'IT'],
    'Edad': [28, 42, 35, 25, 50, 46, 31, 29],
    'Antiguedad': [3, 10, 6, 2, 15, 12, 4, 1]
}
df_ejemplo = pd.DataFrame(data)
df_ejemplo.to_csv('empleados.csv', index=False)
print("--- Archivo 'empleados.csv' de ejemplo creado. ---")


# --- Inicio de la Resolución del Ejercicio ---

# Se carga el dataset para el análisis
df = pd.read_csv('empleados.csv')


# 1. Agrupa los empleados por área y calcula promedios
print("\n--- 1. Promedio de Antigüedad y Edad por Área ---")
promedios_por_area = df.groupby('Area').agg({
    'Antiguedad': 'mean',
    'Edad': 'mean'
}).round(1) # Se redondea para una mejor visualización

display(promedios_por_area)


# 2. Discretiza la edad en categorías
print("\n--- 2. Discretización de la Edad en Categorías ---")
# Se definen los límites y etiquetas para las categorías de edad.
bins_edad = [0, 30, 45, float('inf')]
labels_edad = ['Joven', 'Medio', 'Senior']

# Se crea la nueva columna 'Categoria_Edad' usando pd.cut()
df['Categoria_Edad'] = pd.cut(df['Edad'], bins=bins_edad, labels=labels_edad, right=True)
print("Se ha creado la columna 'Categoria_Edad'.")


# 3. Crea una nueva columna con apply() para clasificar la permanencia
print("\n--- 3. Clasificación de Permanencia del Empleado ---")
# Se define una función para la clasificación.
def clasificar_permanencia(antiguedad):
    if antiguedad > 5:
        return 'Estable'
    else:
        return 'Reciente'

# Se aplica la función a la columna 'Antiguedad' para crear 'Permanencia'.
df['Permanencia'] = df['Antiguedad'].apply(clasificar_permanencia)
print("Se ha creado la columna 'Permanencia'.")

# Se muestra el DataFrame con las nuevas columnas para verificación
print("\nDataFrame final con columnas enriquecidas:")
display(df)


# 4. Exporta el nuevo DataFrame limpio con to_csv()
print("\n--- 4. Exportación del DataFrame Final ---")
df.to_csv('empleados_informe.csv', index=False)
print("DataFrame enriquecido guardado exitosamente como 'empleados_informe.csv'")

--- Archivo 'empleados.csv' de ejemplo creado. ---

--- 1. Promedio de Antigüedad y Edad por Área ---

                  Antiguedad  Edad
Area
IT                       8.7  40.3
Marketing                5.0  33.0
Recursos Humanos        12.0  46.0
Ventas                   2.5  26.5

--- 2. Discretización de la Edad en Categorías ---
Se ha creado la columna 'Categoria_Edad'.

--- 3. Clasificación de Permanencia del Empleado ---
Se ha creado la columna 'Permanencia'.

DataFrame final con columnas enriquecidas:

,EmpleadoID,Nombre,Area,Edad,Antiguedad,Categoria_Edad,Permanencia
0,1,Ana Gómez,Ventas,28,3,Joven,Reciente
1,2,Luis Torres,IT,42,10,Medio,Estable
2,3,Carlos Silva,Marketing,35,6,Medio,Estable
3,4,Sofía Luna,Ventas,25,2,Joven,Reciente
4,5,Eva Marín,IT,50,15,Senior,Estable
5,6,David Ruiz,Recursos Humanos,46,12,Senior,Estable
6,7,Sara Nieto,Marketing,31,4,Medio,Reciente
7,8,Pablo Gil,IT,29,1,Joven,Reciente

--- 4. Exportación del DataFrame Final ---
DataFrame enriquecido guardado exitosamente como 'empleados_informe.csv'